language: python
python:
  - "2.7"
# TODO: What about yum (rpm) or apt (deb) binaries and C code like BLAS and lapack?
# command to install dependencies
install:
    - "pip install --upgrade -r requirements/travis.txt"
    # - "pip install --upgrade -e ."
# shell command run tests
script: 
    - "python pug/nlp/tests.py"
# build notifications
notifications:
  email:
    - admin@totalgood.com
