language: python
python:
  - "2.7"
# TODO: What about yum (rpm) or apt (deb) binaries and C code like BLAS and lapack?
# command to install dependencies
before_install:
    - sudo apt-get install gfortran-4.6
    - sudo apt-get install gfortran python-scipy libatlas-base-dev 
install:
    - "pip install setuptools==3.6"
    - "pip install -r requirements/travis.txt"
    - "pip install ."
# shell command run tests
script: 
    - "python pug/nlp/tests.py"
# build notifications
notifications:
  email:
    - admin@totalgood.com
